.header {
    background-color: #ffadc1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.headerTitle {
    font-size: 5em;
    font-family: 'Dai Banna SIL', sans-serif;
    color: #fcf3d9;
    text-shadow: 2px 2px #ff61a0;
}

.headerSocialLinks {
    text-decoration: none;
}

.socialIcon
{
    font-size: 3em;
    color: #fcf3d9;
    padding: 0 1rem;
}